<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Flying Peanut</th>
      <th>Description</th>
      <th><%= image_tag("pbutter5.jpg",  class: "img-responsive my-image") %></th>
      <th>blue</th>
      <th colspan="3"></th>
    </tr>
    <tr>
      <th>Peanut Smarts</th>
      <th></th>
      <th><%= image_tag("pbutter2.jpg",  class: "img-responsive my-image") %></th>
      <th></th>
      <th colspan="3"></th>
    </tr>
    <tr>
      <th>Underwater Peanut</th>
      <th></th>
      <th><%= image_tag("pbutter3.jpg",  class: "img-responsive my-image") %></th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.image_url %></td>
        <td><%= product.color %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
