<div id="prodshow">

<p id="notice"><%= notice %></p>

<p>
  <div class="col-md-6 col-xs-6" align="center">
  <%= image_tag(@product.image_url,  class: "img-responsive img-zoom", width: "350", data_zoom_image: @product.image_url) %>
</div>
</p>

<div class="row" data-product-id="<%= @product.id %>">
<div class="col-md-6 col-xs-6" align="center">

  <h1>
     <%= @product.name %>
  </h1>

  <p>
    <%= @product.description %>
  </p>

  <p>
    12 oz (340g) per Jar


  <p>
    <br>
    <strong>Average Rating:</strong>
     <div class="rated" id="average-rating" data-score="<%= @product.average_rating %>"></div>
  </p>

  <p>
    <strong>Price: $</strong>
    <%= @product.price %>
  </p>

  <%= form_with(url: '/payments') do |form| %>
  <%= hidden_field_tag(:product_id, @product.id) %>
  <%= render partial: "shared/stripe_checkout_button" %>
<% end %>

  <p>
    <%= render 'new_comment' %>
  </p>

</div>
</div>

<p>
  <div class="col-md-12 col-xs-12" align="center">
    <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
    <%= render 'comments' %>
    <%= will_paginate @comments %>
  </div>
</p>

<style>
   #prodshow {
     margin: 10%;
   }

   footer {
     display: none;
   }
 </style>
</div>
