<p id="notice"><%= notice %></p>

<p>
  <div class="col-md-6 col-xs-6">
  <%= image_tag(@product.image_url,  class: "img-responsive my-image") %>
</div>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price: $</strong>
  <%= @product.price %>
</p>

<p>
  <%= render 'new_comment' %>
</p>

<p>
  <div class="col-md-12 col-xs-12">
    <%= render 'comments' %>
    <%= will_paginate @comments %>
  </div>
</p>
